<div class="jumbotron">
	<h2>Search Results</h2>
	<ul>
	<% @items.each do |item| %>
	<li>
		<ul>
			<div class="col-md-2">
				<li>
					<%= link_to(cl_image_tag(item.image, :width=>150, :crop=>:thumb, :gravity=>:face, :effect=>"vibrance"), item) %>
				</li>
				<li>
					<%= item.name %>
				</li>	
			</div>
			
		</ul>
	</li>
	<% end %>
	</ul>
</div>

