@import "bootstrap-sprockets";
@import "bootstrap";

/*html {
	background-color: #1995AD;
	text-align: center;
}

body {
	height: 100vh;
	max-width: 60.75em;
	background-color: #A1D6E2;
	margin: 0 auto;
	padding-top: 0.25em;
}

.header {
	display: inline-block;
	background-color: #F1F1F2;
	max-width: 59.5em;
	padding: 0.25em;
	border: 0.25em solid #1995AD;
	border-bottom: 0.125em solid #1995AD;

}

nav {
	background-color: #BCBABE;
	padding: 0.75em;
}

nav a {
	padding: 0 4em;
	background-color: #BCBABE;
}

.container {
	height: 89.25vh;
	max-width: 59.6em;
	background-color: #F1F1F2;
	margin: 0 auto;
	border: 0.25em solid #1995AD;
	border-top: 0.125em solid #1995AD;

}

.search {
	margin-top: 1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


li {
	text-align: centre;
}
*/