<h2>Category Index</h2>



<ul>
	<% @categories.each do |category| %>
	
	<li><%= link_to category.name, category %>
		<ul>
			<%  category.subcategories.each do |subcategory| %>
			<li>
				<%= link_to subcategory.name, subcategory %>
			</li>
			<% end %>
		</ul>
		
	</li>

	<% end %>
</ul>
